
__pycache__/UWPScanner.cpython-312.pyc
*.pyc
__pycache__/UWPScanner.cpython-311.pyc
*.pyc
build/*.*
*.toc
*.pkg
build/De-bloater DB Client/warn-De-bloater DB Client.txt
De-bloater DB Client.exe
dist/De-Bloater DB Client.exe
